
/*CSS for the user dashboard
και είναι full responsive και με κάποια media queries για τον υπολογιστή
το κάθε h1 είναι ένας τίτλος και μπορείτε να τον αλλάξετε όπως θέλετε
και το κάθε .h5 είναι ένας υποτίτλος και μπορείτε να τον αλλάξετε όπως θέλετε
όλα είναι set για να μην χρειάζεται να τα αλλάξετε
*/

h1 {
	margin-left:0px;
	background: #151719;
	color: white;
	height: 50px;
	padding-top: 10px;
}

.h5 {
	
	margin-left:0px;
	background: #151719;
	color: white;
	height: 50px;
	padding-top: 10px;
}

.h5 a{
	text-decoration: none;
	color: white;
}
.toggle-btn {
	padding-top:6px;
	padding-left:4px;
	padding-right:4px;
	position: absolute;
	
	
}

.toggle-btn span {
	display: block;
	width: 30px;
	height: 5px;
	background: white;
	margin: 5px 0px;
	
}


body {
     	  
		background-color:#EEEEEE;

      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color:#000;
      margin: 0;
      padding: 0;

}

.swiper-container {
      width: 100%;
      padding-top: 40px;
	  height:450px;
	  
}
    
.swiper-slide {
      background-position: center;
      background-size: cover;
      width: 300px;
      height: 380px;
	  background: #fff;
}

* {
	 margin: 0px;
	 padding: 0px;
	 font-family: comic sans;
 }


.sign{
		
		border-radius:6px;
		background-color:#1976D2;
		border: none;
		color: white;
		padding: 8px 10px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		cursor: pointer;
		float:right;
		
		}
		
.sign:hover {
    background-color:#ECEFF1; 
    color: black;
}



.swiper-slide .imgBx {
	width: 100%;
	height: 300px;
	overflow: hidden;
}

.swiper-slide .imgBx img{
	width: 100%;
}

.swiper-slide .details{
	box-sizing: border-box;
	padding: 20px;
}

.swiper-slide .details h3{
	margin: 0;
	font-size: 20px;
	padding: 0;
	text-align: center;
	line-height: 20px;
}

.swiper-slide .details h3 span{
	font-size: 16px;
	color: red;
}



#sidebar {
	position:absolute;
	width: 200px;
	height: 500px;
	background:#0b243d;
	left: -200px;
	transition: all 500ms linear; 
}

#sidebar.active{
	left: 0px;
}

#sidebar ul li {

	color: rgba(230, 230, 230, 0.9);
	list-style: none;
	padding: 15px 10px;
	border-bottom: 1px solid rgba(100, 100, 100, 0.3);
	
}

#sidebar ul li a{
	text-decoration: none;
}

.title1{
	height: 20px;
	width: 100%;
	background: white;
}

.title{
	height: 50px;
	width: 100%;
	background: black;
	color: white;

}

.headings h2{
	text-decoration:underline;
	text-decoration-color:red;
}



.right {
	border: solid black;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 5px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}



.movie-list{
	width: 80%;
	background-color: #FFFFFF;

}

.contents{
	width:100%;
	height: 50px;
	background-color:white;
	padding-top:20px;
}


.book{
	width:100%;
	height: 50px;
	background:white;
	padding-top: 20px;
	

}

.book1{
	width:100%;
	height: 50px;
	background:white;
	padding-top: 15px;
	padding-bottom: 15px;


}



.book1 input[type="submit"]{
	border: 1px;
	background: #fb2525;
	outline: none;
	padding:10px;
	width:180px;
	color: #fff;
	font-size:20px;
	border-radius:15px;

	
}

.book1 input[type="submit"]:hover{
	cursor: pointer;
	background: #fb2525;
	color: #000;
}

.book1 a{
	text-decoration:none;
}

.book input[type="submit"]{
	border: 1px;
	background: #fb2525;
	outline: none;
		font-size:20px;
	width:180px;
padding:10px;
	color: #fff;
	border-radius:15px;
	
}

.book input[type="submit"]:hover{
	cursor: pointer;
	background: #fb2525;
	color: #000;
}


.movie-detailscss{
	width: 300px;
	height: 300px;
	overflow: hidden;
	text-align: center;
}

.movie-detailscss:hover img{
	
	transform: scale(1.1);
}

.movie-detailscss img:hover{
	
   opacity:0.4;
	
}

/* For mobile phones:*/
[class*="col-"] {
	width: 100%;
}

@media only screen and (min-width: 600px) {
	/* For tablets:*/
	.col-s-1 {width: 8.33%;}
	.col-s-2 {width: 16.66%;}
	.col-s-3 {width: 25%;}
	.col-s-4 {width: 33.33%;}
	.col-s-5 {width: 41.66%;}
	.col-s-6 {width: 50%;}
	.col-s-7 {width: 58.33%;}
	.col-s-8 {width: 66.66%;}
	.col-s-9 {width: 75%;}
	.col-s-10 {width: 83.33%;}
	.col-s-11 {width: 91.66%;}
	.col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
	/* For desktop:*/
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
}


